In [1]:
sc

In [2]:
ticker = "TSLA"

In [3]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql import functions as F
from pyspark.sql import Window
import pandas as pd
import numpy as np
import pyarrow
import yfinance as yf

In [4]:
import yfinance as yf
tsla = yf.Ticker(ticker)
tsla.info

{'zip': '94304',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 48016,
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, Netherlands, Norway, and internationally. The company operates in two segments, Automotive; and Energy Generation and Storage. The Automotive segment offers sedans and sport utility vehicles. It also provides electric powertrain components and systems; and services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians, as well as sells used vehicles. This segment markets and sells its products through a network of company-owned stores and galleries, as well as through its own Website. The Energy Generation and Storage segment offers energy storage products, such as rechargeable lithium-ion battery systems for use in homes, industrial, commercial facilities, and utility grids; and designs, manufactures, installs, maintains, leases, and sells solar energy generation and energy storage products to residential and commercial customers. It also provides vehicle insurance services, as well as renewable energy. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.',
 'city': 'Palo Alto',
 'phone': '650-681-5000',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.tesla.com',
 'maxAge': 1,
 'address1': '3500 Deer Creek Road',
 'industry': 'Auto Manufacturers',
 'previousClose': 803.33,
 'regularMarketOpen': 790.35,
 'twoHundredDayAverage': 557.98224,
 'trailingAnnualDividendYield': None,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 805,
 'navPrice': None,
 'averageDailyVolume10Day': 14754885,
 'totalAssets': None,
 'regularMarketPreviousClose': 803.33,
 'fiftyDayAverage': 693.78296,
 'trailingAnnualDividendRate': None,
 'open': 790.35,
 'toCurrency': None,
 'averageVolume10days': 14754885,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': 1.156884,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 786.552,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 10518428,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 148142948352,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 18330625,
 'priceToSalesTrailing12Months': 5.6929884,
 'dayLow': 786.552,
 'ask': 798.75,
 'ytdReturn': None,
 'askSize': 1100,
 'volume': 10518428,
 'fiftyTwoWeekHigh': 968.99,
 'forwardPE': 68.246796,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 176.99,
 'bid': 798.49,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 800,
 'dayHigh': 805,
 'exchange': 'NMS',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'messageBoardId': 'finmb_27444752',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 6.168,
 'beta3Year': None,
 'profitMargins': -0.0055299997000000005,
 'enterpriseToEbitda': 52.923,
 '52WeekChange': 2.8915563,
 'morningStarRiskRating': None,
 'forwardEps': 11.71,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 185371008,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 49.584,
 'sharesShort': 17187415,
 'sharesPercentSharesOut': 0.092700005,
 'fundFamily': None,
 'lastFiscalYearEnd': 1577750400,
 'heldPercentInstitutions': 0.5792700000000001,
 'netIncomeToCommon': -136000000,
 'trailingEps': -0.811,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.008263349500000001,
 'priceToBook': 16.117496,
 'heldPercentInsiders': 0.2051,
 'nextFiscalYearEnd': 1640908800,
 'mostRecentQuarter': 1585612800,
 'shortRatio': 0.96,
 'sharesShortPreviousMonthDate': 1585612800,
 'floatShares': 147672183,
 'enterpriseValue': 160515784704,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'dateShortInterest': 1588204800,
 'pegRatio': 0.66,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.1163,
 'sharesShortPriorMonth': 19687406,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 790.35,
 'logo_url': 'https://logo.clearbit.com/tesla.com'}

In [5]:
df = tsla.history(period="30d")
df

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2020-04-03  509.50  515.49  468.39  480.01  22562100          0             0
2020-04-06  511.20  521.00  497.96  516.24  14901800          0             0
2020-04-07  545.00  565.00  532.34  545.45  17919800          0             0
2020-04-08  554.20  557.21  533.33  548.84  12656000          0             0
2020-04-09  562.09  575.18  557.11  573.00  13650000          0             0
2020-04-13  590.16  652.00  580.53  650.95  22475400          0             0
2020-04-14  698.97  741.88  692.43  709.89  30576500          0             0
2020-04-15  742.00  753.13  710.00  729.83  23577000          0             0
2020-04-16  716.94  759.45  706.72  745.21  20657900          0             0
2020-04-17  772.28  774.95  747.66  753.89  13128200          0             0
2020-04-20  732.70  765.57  712.21  746.36  14746600          0             0
2020-04-21  730.12  753.33  673.79  686.72  20209100          0             0
2020-04-22  703.98  734.00  688.71  732.11  14224800          0             0
2020-04-23  727.60  734.00  703.13  705.63  13236700          0             0
2020-04-24  710.81  730.73  698.18  725.15  13237600          0             0
2020-04-27  737.61  799.49  735.00  798.75  20681400          0             0
2020-04-28  795.64  805.00  756.69  769.12  15222000          0             0
2020-04-29  790.17  803.20  783.16  800.51  16216000          0             0
2020-04-30  855.19  869.82  763.50  781.88  28471900          0             0
2020-05-01  755.00  772.77  683.04  701.32  32531800          0             0
2020-05-04  701.00  762.00  698.00  761.19  19237100          0             0
2020-05-05  789.79  798.92  762.18  768.21  16991700          0             0
2020-05-06  776.50  789.80  761.11  782.58  11123200          0             0
2020-05-07  777.21  796.40  772.35  780.04  11527700          0             0
2020-05-08  793.77  824.00  787.01  819.42  16130100          0             0
2020-05-11  790.51  824.00  785.00  811.29  16471100          0             0
2020-05-12  827.00  843.29  808.00  809.41  15906900          0             0
2020-05-13  820.83  826.00  763.30  790.96  19065500          0             0
2020-05-14  780.00  803.36  764.00  803.33  13682200          0             0
2020-05-15  790.35  805.05  786.55  799.17  10500700          0             0

In [6]:
sparkdf = spark.createDataFrame(df)

In [7]:
#spark.conf.set("spark.sql.execution.arrow.enabled","true")
sparkdf = sqlContext.createDataFrame(df.reset_index(drop=False))
sparkdf

DataFrame[Date: timestamp, Open: double, High: double, Low: double, Close: double, Volume: bigint, Dividends: bigint, Stock Splits: bigint]

In [8]:
sparkdf

DataFrame[Date: timestamp, Open: double, High: double, Low: double, Close: double, Volume: bigint, Dividends: bigint, Stock Splits: bigint]

In [9]:
sparkdf.show()

+-------------------+------+------+------+------+--------+---------+------------+
|               Date|  Open|  High|   Low| Close|  Volume|Dividends|Stock Splits|
+-------------------+------+------+------+------+--------+---------+------------+
|2020-04-03 00:00:00| 509.5|515.49|468.39|480.01|22562100|        0|           0|
|2020-04-06 00:00:00| 511.2| 521.0|497.96|516.24|14901800|        0|           0|
|2020-04-07 00:00:00| 545.0| 565.0|532.34|545.45|17919800|        0|           0|
|2020-04-08 00:00:00| 554.2|557.21|533.33|548.84|12656000|        0|           0|
|2020-04-09 00:00:00|562.09|575.18|557.11| 573.0|13650000|        0|           0|
|2020-04-13 00:00:00|590.16| 652.0|580.53|650.95|22475400|        0|           0|
|2020-04-14 00:00:00|698.97|741.88|692.43|709.89|30576500|        0|           0|
|2020-04-15 00:00:00| 742.0|753.13| 710.0|729.83|23577000|        0|           0|
|2020-04-16 00:00:00|716.94|759.45|706.72|745.21|20657900|        0|           0|
|2020-04-17 00:00:00|772.28|774.95|747.66|753.89|13128200|        0|           0|
|2020-04-20 00:00:00| 732.7|765.57|712.21|746.36|14746600|        0|           0|
|2020-04-21 00:00:00|730.12|753.33|673.79|686.72|20209100|        0|           0|
|2020-04-22 00:00:00|703.98| 734.0|688.71|732.11|14224800|        0|           0|
|2020-04-23 00:00:00| 727.6| 734.0|703.13|705.63|13236700|        0|           0|
|2020-04-24 00:00:00|710.81|730.73|698.18|725.15|13237600|        0|           0|
|2020-04-27 00:00:00|737.61|799.49| 735.0|798.75|20681400|        0|           0|
|2020-04-28 00:00:00|795.64| 805.0|756.69|769.12|15222000|        0|           0|
|2020-04-29 00:00:00|790.17| 803.2|783.16|800.51|16216000|        0|           0|
|2020-04-30 00:00:00|855.19|869.82| 763.5|781.88|28471900|        0|           0|
|2020-05-01 00:00:00| 755.0|772.77|683.04|701.32|32531800|        0|           0|
+-------------------+------+------+------+------+--------+---------+------------+
only showing top 20 rows

In [10]:
#df_pandas = df_pandas.drop(['Dividends', 'Stock Splits'], axis=1)
sparkdf = sparkdf.drop('Dividends','Stock Splits')

In [11]:
sparkdf.show()

+-------------------+------+------+------+------+--------+
|               Date|  Open|  High|   Low| Close|  Volume|
+-------------------+------+------+------+------+--------+
|2020-04-03 00:00:00| 509.5|515.49|468.39|480.01|22562100|
|2020-04-06 00:00:00| 511.2| 521.0|497.96|516.24|14901800|
|2020-04-07 00:00:00| 545.0| 565.0|532.34|545.45|17919800|
|2020-04-08 00:00:00| 554.2|557.21|533.33|548.84|12656000|
|2020-04-09 00:00:00|562.09|575.18|557.11| 573.0|13650000|
|2020-04-13 00:00:00|590.16| 652.0|580.53|650.95|22475400|
|2020-04-14 00:00:00|698.97|741.88|692.43|709.89|30576500|
|2020-04-15 00:00:00| 742.0|753.13| 710.0|729.83|23577000|
|2020-04-16 00:00:00|716.94|759.45|706.72|745.21|20657900|
|2020-04-17 00:00:00|772.28|774.95|747.66|753.89|13128200|
|2020-04-20 00:00:00| 732.7|765.57|712.21|746.36|14746600|
|2020-04-21 00:00:00|730.12|753.33|673.79|686.72|20209100|
|2020-04-22 00:00:00|703.98| 734.0|688.71|732.11|14224800|
|2020-04-23 00:00:00| 727.6| 734.0|703.13|705.63|13236700|
|2020-04-24 00:00:00|710.81|730.73|698.18|725.15|13237600|
|2020-04-27 00:00:00|737.61|799.49| 735.0|798.75|20681400|
|2020-04-28 00:00:00|795.64| 805.0|756.69|769.12|15222000|
|2020-04-29 00:00:00|790.17| 803.2|783.16|800.51|16216000|
|2020-04-30 00:00:00|855.19|869.82| 763.5|781.88|28471900|
|2020-05-01 00:00:00| 755.0|772.77|683.04|701.32|32531800|
+-------------------+------+------+------+------+--------+
only showing top 20 rows

In [12]:
df = sparkdf.toPandas()
df

         Date    Open    High     Low   Close    Volume
0  2020-04-03  509.50  515.49  468.39  480.01  22562100
1  2020-04-06  511.20  521.00  497.96  516.24  14901800
2  2020-04-07  545.00  565.00  532.34  545.45  17919800
3  2020-04-08  554.20  557.21  533.33  548.84  12656000
4  2020-04-09  562.09  575.18  557.11  573.00  13650000
5  2020-04-13  590.16  652.00  580.53  650.95  22475400
6  2020-04-14  698.97  741.88  692.43  709.89  30576500
7  2020-04-15  742.00  753.13  710.00  729.83  23577000
8  2020-04-16  716.94  759.45  706.72  745.21  20657900
9  2020-04-17  772.28  774.95  747.66  753.89  13128200
10 2020-04-20  732.70  765.57  712.21  746.36  14746600
11 2020-04-21  730.12  753.33  673.79  686.72  20209100
12 2020-04-22  703.98  734.00  688.71  732.11  14224800
13 2020-04-23  727.60  734.00  703.13  705.63  13236700
14 2020-04-24  710.81  730.73  698.18  725.15  13237600
15 2020-04-27  737.61  799.49  735.00  798.75  20681400
16 2020-04-28  795.64  805.00  756.69  769.12  15222000
17 2020-04-29  790.17  803.20  783.16  800.51  16216000
18 2020-04-30  855.19  869.82  763.50  781.88  28471900
19 2020-05-01  755.00  772.77  683.04  701.32  32531800
20 2020-05-04  701.00  762.00  698.00  761.19  19237100
21 2020-05-05  789.79  798.92  762.18  768.21  16991700
22 2020-05-06  776.50  789.80  761.11  782.58  11123200
23 2020-05-07  777.21  796.40  772.35  780.04  11527700
24 2020-05-08  793.77  824.00  787.01  819.42  16130100
25 2020-05-11  790.51  824.00  785.00  811.29  16471100
26 2020-05-12  827.00  843.29  808.00  809.41  15906900
27 2020-05-13  820.83  826.00  763.30  790.96  19065500
28 2020-05-14  780.00  803.36  764.00  803.33  13682200
29 2020-05-15  790.35  805.05  786.55  799.17  10500700

In [28]:
df['Dollar_Change'] = round(df.Close.diff(), 2)
df['Percent_Change'] = df.Close.pct_change().round(4)
df

,Date,Open,High,Low,Close,Volume,Dollar_Change,Percent_Change
0,2020-04-03,509.50,515.49,468.39,480.01,22562100,NaN,NaN
1,2020-04-06,511.20,521.00,497.96,516.24,14901800,36.23,0.0755
2,2020-04-07,545.00,565.00,532.34,545.45,17919800,29.21,0.0566
3,2020-04-08,554.20,557.21,533.33,548.84,12656000,3.39,0.0062
4,2020-04-09,562.09,575.18,557.11,573.00,13650000,24.16,0.0440
5,2020-04-13,590.16,652.00,580.53,650.95,22475400,77.95,0.1360
6,2020-04-14,698.97,741.88,692.43,709.89,30576500,58.94,0.0905
7,2020-04-15,742.00,753.13,710.00,729.83,23577000,19.94,0.0281
8,2020-04-16,716.94,759.45,706.72,745.21,20657900,15.38,0.0211
9,2020-04-17,772.28,774.95,747.66,753.89,13128200,8.68,0.0116
10,2020-04-20,732.70,765.57,712.21,746.36,14746600,-7.53,-0.0100
11,2020-04-21,730.12,753.33,673.79,686.72,20209100,-59.64,-0.0799
12,2020-04-22,703.98,734.00,688.71,732.11,14224800,45.39,0.0661
13,2020-04-23,727.60,734.00,703.13,705.63,13236700,-26.48,-0.0362
14,2020-04-24,710.81,730.73,698.18,725.15,13237600,19.52,0.0277
15,2020-04-27,737.61,799.49,735.00,798.75,20681400,73.60,0.1015
16,2020-04-28,795.64,805.00,756.69,769.12,15222000,-29.63,-0.0371
17,2020-04-29,790.17,803.20,783.16,800.51,16216000,31.39,0.0408
18,2020-04-30,855.19,869.82,763.50,781.88,28471900,-18.63,-0.0233
19,2020-05-01,755.00,772.77,683.04,701.32,32531800,-80.56,-0.1030
20,2020-05-04,701.00,762.00,698.00,761.19,19237100,59.87,0.0854
21,2020-05-05,789.79,798.92,762.18,768.21,16991700,7.02,0.0092
22,2020-05-06,776.50,789.80,761.11,782.58,11123200,14.37,0.0187
23,2020-05-07,777.21,796.40,772.35,780.04,11527700,-2.54,-0.0032
24,2020-05-08,793.77,824.00,787.01,819.42,16130100,39.38,0.0505
25,2020-05-11,790.51,824.00,785.00,811.29,16471100,-8.13,-0.0099
26,2020-05-12,827.00,843.29,808.00,809.41,15906900,-1.88,-0.0023
27,2020-05-13,820.83,826.00,763.30,790.96,19065500,-18.45,-0.0228
28,2020-05-14,780.00,803.36,764.00,803.33,13682200,12.37,0.0156
29,2020-05-15,790.35,805.05,786.55,799.17,10500700,-4.16,-0.0052

In [25]:
# df_fin = df[['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dollar_Change', 'Percent_Change']]
# df_fin
#from pyspark.sql.functions import lit
#sparkdf = sparkdf.withColumn("preclose", lit(0))
#sparkdf.show()

In [27]:
df.to_csv('yfinance.csv')