In [1]:
import numpy as np
import pandas as pd
import os
import nltk

In [2]:
pd.set_option('display.max_colwidth', -1)

In [3]:
# Load headlines2.csv
path2 = os.path.join(os.path.abspath('headlines2.csv'))
df_headlines = pd.read_csv(path2)
df_headlines

,date,source,headline
0,2020-04-16,CNBC,Jim Cramer advises investors to sell these groups of stocks 'whenever they bounce'
1,2020-04-17,Bloomberg,Hospitals Made Use of Modified Tesla-Donated Breathing Machines
2,2020-04-17,CNBC,Your boss said 'You're furloughed.' What does that mean exactly?
3,2020-04-21,CNBC,These stocks millennials are investing in are 'very good for speculation ' Jim Cramer says
4,2020-04-22,CNBC,Bank of America downgrades Tesla citing too high valuation after stock's recent massive run
...,...,...,...
148,2020-05-15,CNBC,Tesla considers building its next factory in Austin or Tulsa
149,2020-05-15,CNBC,DOJ and state AGs likely to bring antitrust suits against Google: Report
150,2020-05-15,CNBC,Final Trades: BABA SLX & PENN
151,2020-05-16,CNBC,Assessing the stock market after one of the fastest declines and subsequent comebacks in history
152,2020-05-16,CNBC,Health officials issue dire warnings; FBI scrutinizes senators' stock sales: This week's recap and best reads

In [4]:
# Create empty column to store sentiment scores per article
df_headlines['score'] = np.nan
df_headlines

,date,source,headline,score
0,2020-04-16,CNBC,Jim Cramer advises investors to sell these groups of stocks 'whenever they bounce',NaN
1,2020-04-17,Bloomberg,Hospitals Made Use of Modified Tesla-Donated Breathing Machines,NaN
2,2020-04-17,CNBC,Your boss said 'You're furloughed.' What does that mean exactly?,NaN
3,2020-04-21,CNBC,These stocks millennials are investing in are 'very good for speculation ' Jim Cramer says,NaN
4,2020-04-22,CNBC,Bank of America downgrades Tesla citing too high valuation after stock's recent massive run,NaN
...,...,...,...,...
148,2020-05-15,CNBC,Tesla considers building its next factory in Austin or Tulsa,NaN
149,2020-05-15,CNBC,DOJ and state AGs likely to bring antitrust suits against Google: Report,NaN
150,2020-05-15,CNBC,Final Trades: BABA SLX & PENN,NaN
151,2020-05-16,CNBC,Assessing the stock market after one of the fastest declines and subsequent comebacks in history,NaN
152,2020-05-16,CNBC,Health officials issue dire warnings; FBI scrutinizes senators' stock sales: This week's recap and best reads,NaN

In [5]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [6]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/asamra/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
# Tokenize essentially splits a sentence into words
headline_0 = word_tokenize(df_headlines['headline'][0])
print(headline_0)

['Jim', 'Cramer', 'advises', 'investors', 'to', 'sell', 'these', 'groups', 'of', 'stocks', "'whenever", 'they', 'bounce', "'"]

In [8]:
from nltk.corpus import stopwords

In [9]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/asamra/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
# Stop words are words that provide no sentiment meaning
stop_words = stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [11]:
# Append ':' to stop_words list
stop_words.append(':')
#print(stop_words)

In [12]:
# Remove stop words from headline at index 0
filtered_headline_0 = []
for word in headline_0:
    if word not in stop_words:
        filtered_headline_0.append(word)
print(filtered_headline_0)

['Jim', 'Cramer', 'advises', 'investors', 'sell', 'groups', 'stocks', "'whenever", 'bounce', "'"]

In [13]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [14]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/asamra/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [15]:
sid = SentimentIntensityAnalyzer()

In [16]:
# Create empty lists for each type of word: positive, negative and neurtral
headline_0_pos = []
headline_0_neg = []
headline_0_neu = []

In [17]:
# Built-in algorithm determines sentiment of word
# https://stackoverflow.com/questions/43646877/python-extract-positive-words-from-a-string-using-sentiment-vader/43647056
for word in filtered_headline_0:
    if (sid.polarity_scores(word)['compound']) >= 0.5:
        headline_0_pos.append(word)
    elif (sid.polarity_scores(word)['compound']) <= -0.5:
        headline_0_neg.append(word)
    else:
        headline_0_neu.append(word)

In [18]:
print(headline_0_pos)

[]

In [19]:
print(headline_0_neg)

[]

In [20]:
print(headline_0_neu)

['Jim', 'Cramer', 'advises', 'investors', 'sell', 'groups', 'stocks', "'whenever", 'bounce', "'"]

In [21]:
# Create a formula to determine how to assign an article 
#score_0 = ((1/3)*len(headline_0_pos) - (1/3)*len(headline_0_neg))/len(filtered_headline_0)
"""if len(headline_0_neu) >= len(headline_0_pos) and len(headline_0_neu) >= len(headline_0_neg):
    score_0 = 0
elif len(headline_0_pos) > len(headline_0_neg):
    score_0 = 1
else:
    score_0 = -1"""

score_0 = round((1*len(headline_0_pos) - 1*len(headline_0_neg) + 0*len(headline_0_neu))/len(filtered_headline_0),2)

In [22]:
print(score_0)

0.0

In [23]:
# Below, we perform the operations above for every row in the dataframe

In [24]:
len(df_headlines)

153

In [25]:
# Iterate through df_headlines to determine sentiment score for each headline
for index, row in df_headlines.iterrows():
    headline_tokenized = word_tokenize(row['headline'])
    filtered_headline = []
    for word in headline_tokenized:
        if word not in stop_words:
            filtered_headline.append(word)
    #print(filtered_headline)
    headline_pos = []
    headline_neg = []
    headline_neu = []
    for word in filtered_headline:
        if (sid.polarity_scores(word)['compound']) >= 0.5:
            headline_pos.append(word)
        elif (sid.polarity_scores(word)['compound']) <= -0.5:
            headline_neg.append(word)
        else:
            headline_neu.append(word)
    
    score = round((1*len(headline_pos) - 1*len(headline_neg) + 0*len(headline_neu))/len(filtered_headline),2)
    
    """if len(headline_neu) >= len(headline_pos) and len(headline_neu) >= len(headline_neg):
        score = 0
    elif len(headline_pos) > len(headline_neg):
        score = 1
    else:
        score = -1"""
        
    """if len(headline_pos) > len(headline_neg):
        score = 1
    elif len(headline_neg) > len(headline_pos):
        score = -1
    else:
        score = 0"""
    #print(len(headline_neu), len(headline_neg), len(headline_pos))
    df_headlines.at[index,'score'] = score
    print(index, row['date'], score)
    #print(len(headline_pos), len(headline_neg), len(headline_neu))

0 2020-04-16 0.0
1 2020-04-17 0.0
2 2020-04-17 0.0
3 2020-04-21 0.0
4 2020-04-22 0.0
5 2020-04-22 0.0
6 2020-04-22 -0.09
7 2020-04-22 0.0
8 2020-04-22 0.0
9 2020-04-22 -0.08
10 2020-04-23 0.0
11 2020-04-24 0.0
12 2020-04-24 0.0
13 2020-04-24 0.0
14 2020-04-25 0.0
15 2020-04-25 0.0
16 2020-04-25 0.0
17 2020-04-26 0.0
18 2020-04-27 0.0
19 2020-04-27 0.0
20 2020-04-27 0.0
21 2020-04-27 0.0
22 2020-04-27 0.0
23 2020-04-27 0.0
24 2020-04-27 0.0
25 2020-04-28 0.0
26 2020-04-28 0.0
27 2020-04-28 0.0
28 2020-04-28 0.0
29 2020-04-28 0.0
30 2020-04-28 0.0
31 2020-04-28 0.0
32 2020-04-28 0.0
33 2020-04-28 0.0
34 2020-04-29 0.0
35 2020-04-29 0.0
36 2020-04-29 0.0
37 2020-04-29 0.0
38 2020-04-29 -0.09
39 2020-04-29 0.0
40 2020-04-29 0.08
41 2020-04-29 0.0
42 2020-04-29 0.0
43 2020-04-29 0.0
44 2020-04-30 0.0
45 2020-04-30 0.0
46 2020-04-30 0.0
47 2020-04-30 0.0
48 2020-04-30 0.0
49 2020-04-30 0.0
50 2020-04-30 0.0
51 2020-04-30 -0.08
52 2020-04-30 0.0
53 2020-04-30 -0.08
54 2020-04-30 0.0
55 2020-05-01 0.0
56 2020-05-01 -0.11
57 2020-05-01 0.0
58 2020-05-01 0.0
59 2020-05-01 0.0
60 2020-05-01 0.0
61 2020-05-01 0.0
62 2020-05-01 0.0
63 2020-05-02 0.0
64 2020-05-02 0.0
65 2020-05-02 0.0
66 2020-05-02 0.0
67 2020-05-04 0.0
68 2020-05-04 0.0
69 2020-05-04 0.0
70 2020-05-04 0.0
71 2020-05-04 0.0
72 2020-05-05 0.08
73 2020-05-05 0.0
74 2020-05-05 0.0
75 2020-05-06 0.0
76 2020-05-07 0.0
77 2020-05-07 0.0
78 2020-05-07 0.0
79 2020-05-07 0.0
80 2020-05-07 0.0
81 2020-05-07 0.0
82 2020-05-07 0.0
83 2020-05-08 0.0
84 2020-05-08 0.0
85 2020-05-08 0.0
86 2020-05-08 0.0
87 2020-05-08 0.0
88 2020-05-08 0.0
89 2020-05-08 0.0
90 2020-05-08 0.0
91 2020-05-08 0.0
92 2020-05-08 0.0
93 2020-05-08 0.0
94 2020-05-09 0.0
95 2020-05-09 0.0
96 2020-05-09 0.0
97 2020-05-09 0.0
98 2020-05-09 0.0
99 2020-05-09 0.0
100 2020-05-10 0.0
101 2020-05-10 -0.06
102 2020-05-11 0.0
103 2020-05-11 0.0
104 2020-05-11 0.0
105 2020-05-11 0.0
106 2020-05-11 0.0
107 2020-05-11 0.11
108 2020-05-11 0.0
109 2020-05-11 0.0
110 2020-05-11 0.0
111 2020-05-11 0.0
112 2020-05-11 0.0
113 2020-05-11 0.0
114 2020-05-11 0.0
115 2020-05-11 0.0
116 2020-05-11 0.0
117 2020-05-11 0.0
118 2020-05-12 0.0
119 2020-05-12 0.0
120 2020-05-12 0.0
121 2020-05-12 0.0
122 2020-05-12 0.0
123 2020-05-12 0.0
124 2020-05-12 0.0
125 2020-05-12 0.0
126 2020-05-12 0.0
127 2020-05-12 0.0
128 2020-05-12 0.0
129 2020-05-13 0.0
130 2020-05-13 0.0
131 2020-05-13 0.14
132 2020-05-13 -0.06
133 2020-05-13 0.0
134 2020-05-13 0.0
135 2020-05-13 -0.07
136 2020-05-13 0.0
137 2020-05-13 0.0
138 2020-05-14 0.0
139 2020-05-14 0.0
140 2020-05-14 0.0
141 2020-05-14 0.0
142 2020-05-14 0.0
143 2020-05-14 0.0
144 2020-05-14 0.0
145 2020-05-14 0.0
146 2020-05-14 0.0
147 2020-05-15 0.0
148 2020-05-15 0.0
149 2020-05-15 0.0
150 2020-05-15 0.0
151 2020-05-16 0.0
152 2020-05-16 0.06

In [26]:
df_headlines

,date,source,headline,score
0,2020-04-16,CNBC,Jim Cramer advises investors to sell these groups of stocks 'whenever they bounce',0.00
1,2020-04-17,Bloomberg,Hospitals Made Use of Modified Tesla-Donated Breathing Machines,0.00
2,2020-04-17,CNBC,Your boss said 'You're furloughed.' What does that mean exactly?,0.00
3,2020-04-21,CNBC,These stocks millennials are investing in are 'very good for speculation ' Jim Cramer says,0.00
4,2020-04-22,CNBC,Bank of America downgrades Tesla citing too high valuation after stock's recent massive run,0.00
...,...,...,...,...
148,2020-05-15,CNBC,Tesla considers building its next factory in Austin or Tulsa,0.00
149,2020-05-15,CNBC,DOJ and state AGs likely to bring antitrust suits against Google: Report,0.00
150,2020-05-15,CNBC,Final Trades: BABA SLX & PENN,0.00
151,2020-05-16,CNBC,Assessing the stock market after one of the fastest declines and subsequent comebacks in history,0.00
152,2020-05-16,CNBC,Health officials issue dire warnings; FBI scrutinizes senators' stock sales: This week's recap and best reads,0.06

In [27]:
# See score for a particular location to check for accuracy
df_headlines.iloc[28]

date        2020-04-28
source      CNBC
headline    Tesla is poised to beat earnings and possibly qualify for S&P 500 inclusion Barclays says
score       0
Name: 28, dtype: object

In [28]:
# Create a copy of df_headlines to perform grouping operations
df_headlines2 = df_headlines.copy()
df_headlines2.drop(['source', 'headline'], axis=1, inplace=True)

In [29]:
#df_group = df_headlines2.groupby('date')
#df_group

In [30]:
# Find daily score for scores of 1, -1, 0; not for continuous variable
# https://stackoverflow.com/questions/61806725/iterate-over-a-pandas-data-frame-or-groupby-object?noredirect=1#comment109323032_61806725
"""for name, group in df_headlines2.groupby('date'):
    daily_pos = len(group[group['score'] == 1])
    daily_neg = len(group[group['score'] == -1])
    daily_neu = len(group[group['score'] == 0])
    print(name, daily_pos, daily_neg, daily_neu)"""

"for name, group in df_headlines2.groupby('date'):\n    daily_pos = len(group[group['score'] == 1])\n    daily_neg = len(group[group['score'] == -1])\n    daily_neu = len(group[group['score'] == 0])\n    print(name, daily_pos, daily_neg, daily_neu)"

In [32]:
# Group headlines by date and calculate average score
df_group = df_headlines2.groupby('date').mean()
df_group.rename(columns = {'score': 'daily_score'}, inplace = True)
df_group

            daily_score
date
2020-04-16  0.000000
2020-04-17  0.000000
2020-04-21  0.000000
2020-04-22 -0.028333
2020-04-23  0.000000
2020-04-24  0.000000
2020-04-25  0.000000
2020-04-26  0.000000
2020-04-27  0.000000
2020-04-28  0.000000
2020-04-29 -0.001000
2020-04-30 -0.014545
2020-05-01 -0.013750
2020-05-02  0.000000
2020-05-04  0.000000
2020-05-05  0.026667
2020-05-06  0.000000
2020-05-07  0.000000
2020-05-08  0.000000
2020-05-09  0.000000
2020-05-10 -0.030000
2020-05-11  0.006875
2020-05-12  0.000000
2020-05-13  0.001111
2020-05-14  0.000000
2020-05-15  0.000000
2020-05-16  0.030000

In [33]:
df_group.to_csv('sentiment_score.csv')

In [38]:
df_group.dtypes

daily_score    float64
dtype: object

In [39]:
df_group.columns

Index(['daily_score'], dtype='object')