In [20]:
import yfinance as yf
import numpy as np
import pandas as pd

In [21]:
tsla = yf.Ticker("TSLA")

In [22]:
# get stock info
tsla.info

{'zip': '94304',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 48016,
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, Netherlands, Norway, and internationally. The company operates in two segments, Automotive; and Energy Generation and Storage. The Automotive segment offers sedans and sport utility vehicles. It also provides electric powertrain components and systems; and services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians, as well as sells used vehicles. This segment markets and sells its products through a network of company-owned stores and galleries, as well as through its own Website. The Energy Generation and Storage segment offers energy storage products, such as rechargeable lithium-ion battery systems for use in homes, industrial, commercial facilities, and utility grids; and designs, manufactures, installs, maintains, leases, and sells solar energy generation and energy storage products to residential and commercial customers. It also provides vehicle insurance services, as well as renewable energy. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.',
 'city': 'Palo Alto',
 'phone': '650-681-5000',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.tesla.com',
 'maxAge': 1,
 'address1': '3500 Deer Creek Road',
 'industry': 'Auto Manufacturers',
 'previousClose': 790.96,
 'regularMarketOpen': 820.83,
 'twoHundredDayAverage': 550.9854,
 'trailingAnnualDividendYield': None,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 803.36,
 'navPrice': None,
 'averageDailyVolume10Day': 15806662,
 'totalAssets': None,
 'regularMarketPreviousClose': 790.96,
 'fiftyDayAverage': 673.3683,
 'trailingAnnualDividendRate': None,
 'open': 820.83,
 'toCurrency': None,
 'averageVolume10days': 15806662,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': 1.156884,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 764,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 13357642,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 148914094080,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 18489358,
 'priceToSalesTrailing12Months': 5.722623,
 'dayLow': 764,
 'ask': 806,
 'ytdReturn': None,
 'askSize': 1300,
 'volume': 13357642,
 'fiftyTwoWeekHigh': 968.99,
 'forwardPE': 68.60205,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 176.99,
 'bid': 803.1,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1300,
 'dayHigh': 803.36,
 'exchange': 'NMS',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'messageBoardId': 'finmb_27444752',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 6.168,
 'beta3Year': None,
 'profitMargins': -0.0055299997,
 'enterpriseToEbitda': 52.923,
 '52WeekChange': 2.464109,
 'morningStarRiskRating': None,
 'forwardEps': 11.71,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 185371008,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 49.584,
 'sharesShort': 17187415,
 'sharesPercentSharesOut': 0.092700005,
 'fundFamily': None,
 'lastFiscalYearEnd': 1577750400,
 'heldPercentInstitutions': 0.57927,
 'netIncomeToCommon': -136000000,
 'trailingEps': -0.811,
 'lastDividendValue': None,
 'SandP52WeekChange': -0.019580603,
 'priceToBook': 16.201397,
 'heldPercentInsiders': 0.2051,
 'nextFiscalYearEnd': 1640908800,
 'mostRecentQuarter': 1585612800,
 'shortRatio': 0.96,
 'sharesShortPreviousMonthDate': 1585612800,
 'floatShares': 147672183,
 'enterpriseValue': 160515784704,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'dateShortInterest': 1588204800,
 'pegRatio': 0.66,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.1163,
 'sharesShortPriorMonth': 19687406,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 820.83,
 'logo_url': 'https://logo.clearbit.com/tesla.com'}

In [23]:
# create pandas df
df_pandas = tsla.history(start="2020-04-13", end="2020-05-14")
df_pandas = df_pandas.drop(['Dividends', 'Stock Splits'], axis=1)
df_pandas = df_pandas.reset_index( )
df_pandas

         Date    Open    High     Low   Close    Volume
0  2020-04-13  590.16  652.00  580.53  650.95  22475400
1  2020-04-14  698.97  741.88  692.43  709.89  30576500
2  2020-04-15  742.00  753.13  710.00  729.83  23577000
3  2020-04-16  716.94  759.45  706.72  745.21  20657900
4  2020-04-17  772.28  774.95  747.66  753.89  13128200
5  2020-04-20  732.70  765.57  712.21  746.36  14746600
6  2020-04-21  730.12  753.33  673.79  686.72  20209100
7  2020-04-22  703.98  734.00  688.71  732.11  14224800
8  2020-04-23  727.60  734.00  703.13  705.63  13236700
9  2020-04-24  710.81  730.73  698.18  725.15  13237600
10 2020-04-27  737.61  799.49  735.00  798.75  20681400
11 2020-04-28  795.64  805.00  756.69  769.12  15222000
12 2020-04-29  790.17  803.20  783.16  800.51  16216000
13 2020-04-30  855.19  869.82  763.50  781.88  28471900
14 2020-05-01  755.00  772.77  683.04  701.32  32531800
15 2020-05-04  701.00  762.00  698.00  761.19  19237100
16 2020-05-05  789.79  798.92  762.18  768.21  16991700
17 2020-05-06  776.50  789.80  761.11  782.58  11123200
18 2020-05-07  777.21  796.40  772.35  780.04  11527700
19 2020-05-08  793.77  824.00  787.01  819.42  16130100
20 2020-05-11  790.51  824.00  785.00  811.29  16471100
21 2020-05-12  827.00  843.29  808.00  809.41  15906900
22 2020-05-13  820.83  826.00  763.30  790.96  19065500

In [24]:
# Create new columns for change in prices
df_pandas['Dollar_Change'] = df_pandas.Close.diff()
df_pandas['Percent_Change'] = df_pandas.Close.pct_change().round(4)
df_pandas

,Date,Open,High,Low,Close,Volume,Dollar_Change,Percent_Change
0,2020-04-13,590.16,652.00,580.53,650.95,22475400,NaN,NaN
1,2020-04-14,698.97,741.88,692.43,709.89,30576500,58.94,0.0905
2,2020-04-15,742.00,753.13,710.00,729.83,23577000,19.94,0.0281
3,2020-04-16,716.94,759.45,706.72,745.21,20657900,15.38,0.0211
4,2020-04-17,772.28,774.95,747.66,753.89,13128200,8.68,0.0116
5,2020-04-20,732.70,765.57,712.21,746.36,14746600,-7.53,-0.0100
6,2020-04-21,730.12,753.33,673.79,686.72,20209100,-59.64,-0.0799
7,2020-04-22,703.98,734.00,688.71,732.11,14224800,45.39,0.0661
8,2020-04-23,727.60,734.00,703.13,705.63,13236700,-26.48,-0.0362
9,2020-04-24,710.81,730.73,698.18,725.15,13237600,19.52,0.0277
10,2020-04-27,737.61,799.49,735.00,798.75,20681400,73.60,0.1015
11,2020-04-28,795.64,805.00,756.69,769.12,15222000,-29.63,-0.0371
12,2020-04-29,790.17,803.20,783.16,800.51,16216000,31.39,0.0408
13,2020-04-30,855.19,869.82,763.50,781.88,28471900,-18.63,-0.0233
14,2020-05-01,755.00,772.77,683.04,701.32,32531800,-80.56,-0.1030
15,2020-05-04,701.00,762.00,698.00,761.19,19237100,59.87,0.0854
16,2020-05-05,789.79,798.92,762.18,768.21,16991700,7.02,0.0092
17,2020-05-06,776.50,789.80,761.11,782.58,11123200,14.37,0.0187
18,2020-05-07,777.21,796.40,772.35,780.04,11527700,-2.54,-0.0032
19,2020-05-08,793.77,824.00,787.01,819.42,16130100,39.38,0.0505
20,2020-05-11,790.51,824.00,785.00,811.29,16471100,-8.13,-0.0099
21,2020-05-12,827.00,843.29,808.00,809.41,15906900,-1.88,-0.0023
22,2020-05-13,820.83,826.00,763.30,790.96,19065500,-18.45,-0.0228

In [25]:
# Fill in na cells with 0
df_pandas = df_pandas.fillna(0)
df_pandas

,Date,Open,High,Low,Close,Volume,Dollar_Change,Percent_Change
0,2020-04-13,590.16,652.00,580.53,650.95,22475400,0.00,0.0000
1,2020-04-14,698.97,741.88,692.43,709.89,30576500,58.94,0.0905
2,2020-04-15,742.00,753.13,710.00,729.83,23577000,19.94,0.0281
3,2020-04-16,716.94,759.45,706.72,745.21,20657900,15.38,0.0211
4,2020-04-17,772.28,774.95,747.66,753.89,13128200,8.68,0.0116
5,2020-04-20,732.70,765.57,712.21,746.36,14746600,-7.53,-0.0100
6,2020-04-21,730.12,753.33,673.79,686.72,20209100,-59.64,-0.0799
7,2020-04-22,703.98,734.00,688.71,732.11,14224800,45.39,0.0661
8,2020-04-23,727.60,734.00,703.13,705.63,13236700,-26.48,-0.0362
9,2020-04-24,710.81,730.73,698.18,725.15,13237600,19.52,0.0277
10,2020-04-27,737.61,799.49,735.00,798.75,20681400,73.60,0.1015
11,2020-04-28,795.64,805.00,756.69,769.12,15222000,-29.63,-0.0371
12,2020-04-29,790.17,803.20,783.16,800.51,16216000,31.39,0.0408
13,2020-04-30,855.19,869.82,763.50,781.88,28471900,-18.63,-0.0233
14,2020-05-01,755.00,772.77,683.04,701.32,32531800,-80.56,-0.1030
15,2020-05-04,701.00,762.00,698.00,761.19,19237100,59.87,0.0854
16,2020-05-05,789.79,798.92,762.18,768.21,16991700,7.02,0.0092
17,2020-05-06,776.50,789.80,761.11,782.58,11123200,14.37,0.0187
18,2020-05-07,777.21,796.40,772.35,780.04,11527700,-2.54,-0.0032
19,2020-05-08,793.77,824.00,787.01,819.42,16130100,39.38,0.0505
20,2020-05-11,790.51,824.00,785.00,811.29,16471100,-8.13,-0.0099
21,2020-05-12,827.00,843.29,808.00,809.41,15906900,-1.88,-0.0023
22,2020-05-13,820.83,826.00,763.30,790.96,19065500,-18.45,-0.0228

In [26]:
# Export data to CSV
df_pandas.to_csv('tsla_yfinance.csv')